.popupContainer {
  padding: var(--padding);
  background-color: var(--background-darkest);
  border-radius: var(--border-radius);
  color: white;
  position: absolute;

  button {
    color: white;
  }
}
