.reorderListContainer {
  .listItem {
    display: flex;
    padding: var(--padding-half) var(--padding-half);
    border-radius: var(--border-radius);
    transition: background-color var(--transition);
    overflow: hidden;

    .beginning {
      user-select: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 1px solid var(--background-darkest);
      padding-right: var(--padding-half);

      & + div {
        flex: 1;
      }
    }

    .ending {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-left: 1px solid var(--background-darkest);
      padding-left: var(--padding-half);
    }

    &.active {
      background-color: var(--accent-transparent);
      position: absolute;
      pointer-events: none;
    }

    &.ghost {
      color: rgba(255, 255, 255, 0.5);

      button {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &.delete {
      background: var(--error-transparent);
    }

    &.reorder {
      background: var(--accent-transparent);
    }
  }
}
