.toasterContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: var(--padding);
  z-index: 10;

  .toast {
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--success);
  }
}
