.container {
  position: absolute;
  top: -3.5rem;
  left: 0;
  background-color: var(--background);
  color: black;
  //width: auto;
  padding: 0.5rem;
  z-index: 1;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 0.25rem;

  button {
    max-width: 3rem;
    border-radius: 0.3rem !important;

    &:first-of-type {
      border-radius: var(--border-radius) 0.3rem 0.3rem var(--border-radius) !important;
    }

    &:last-of-type {
      border-radius: 0.3rem var(--border-radius) var(--border-radius) 0.3rem !important;
    }
  }
}
