.draggableContainer {
  position: fixed;
  user-select: none;
  display: flex;
  flex-direction: column;

  .header,
  .footer {
    width: 100%;
    display: flex;
  }

  .header {
    justify-content: center;

    .drag {
      cursor: move;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      width: 100%;

      h4 {
        margin: 0;
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .expand {
      cursor: pointer;
    }
  }

  .body {
    flex: 1;
    margin: var(--padding) 0;
  }

  .footer {
    justify-content: flex-end;

    & > .resize {
      cursor: nw-resize;

      & > svg {
        transform: scaleX(-1);
      }
    }
  }
}
