.container {
  padding: 0 var(--padding-double);

  .filterContainer {
    display: flex;
    align-items: flex-end;
    gap: var(--padding);

    input[type="text"] {
      flex: 1;
      height: var(--padding-double);
      border-radius: var(--border-radius);
      border: none;
      padding-left: var(--padding);
      margin-top: var(--padding);

      &:focus {
        outline: none;
      }
    }

    button {
      height: var(--padding-double);
      border-radius: var(--border-radius);
      border: none;
      width: 5rem;
      cursor: pointer;
    }
  }

  .songList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--padding);
    margin-top: var(--padding);

    .song {
      padding: var(--padding);
      border-radius: var(--padding);
      background: var(--background);
      color: black;
      cursor: pointer;

      display: flex;
      flex-direction: row;

      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;

        &.editing {
          width: 70%;
        }

        & > :first-of-type {
          font-weight: bold;
        }

        & > span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & > span.details {
          font-size: var(--font-size-small);
          color: var(--accent);
        }
      }

      .editContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1;
      }
    }
  }
}
