.container {
  padding: var(--padding-triple) var(--padding-double);

  .filterContainer {
    display: flex;
    align-items: flex-end;
    gap: var(--padding);
    justify-content: center;
    align-items: center;

    button,
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      background-color: transparent;
    }

    input {
      flex: 1;
      margin: 0;
    }
  }

  .songList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--padding);
    margin-top: var(--padding);

    .song {
      padding: var(--padding);
      border-radius: var(--border-radius);
      background: var(--background);
      color: black;
      cursor: pointer;

      display: flex;
      flex-direction: row;

      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;

        &.editing {
          width: 70%;
        }

        & > :first-of-type {
          font-weight: bold;
        }

        & > span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & > span.details {
          font-size: var(--font-size-small);
          color: var(--accent);
        }
      }

      .editContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1;
      }
    }
  }
}
