.container {
  padding: 0 var(--padding-double);

  .filterContainer {
    input[type="text"] {
      width: 100%;
      height: var(--padding-double);
      border-radius: var(--border-radius);
      border: none;
      padding-left: var(--padding);
      margin-top: var(--padding);

      &:focus {
        outline: none;
      }
    }
  }

  .songList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--padding);
    margin-top: var(--padding);

    .song {
      padding: var(--padding);
      border-radius: var(--padding);
      background: var(--background);
      color: black;

      display: flex;
      flex-direction: row;

      &.incomplete {
        background: var(--accent);
      }

      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > :first-of-type {
          font-weight: bold;
        }

        & > span.details {
          font-size: var(--font-size-small);
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
