@import "./main/breakpoints.scss";

.container {
  display: flex;
  flex-direction: row;

  .songContainer {
    flex: 1;
    padding-left: 25%;

    .songDetails {
      .header {
        display: flex;
        gap: var(--padding-half);
      }

      .songSection {
        margin-top: 5%;

        .songLines {
          display: flex;
          gap: var(--padding-half);
          margin-bottom: var(--padding);

          .songLine {
            display: flex;
            flex-direction: row;
            position: relative;
            flex-wrap: wrap;

            .wordGroup {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              padding-left: var(--padding-quarter);

              .chordGroup {
                display: flex;
                gap: var(--padding-quarter);
              }

              .songWord {
                &:not(:first-of-type) {
                  padding-left: var(--padding-quarter);
                }

                &.hidden {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }

    @include max-breakpoint(md) {
      padding: 0 10%;
      margin-bottom: 50vh;
    }
  }

  .editContainer {
    .editBody {
      max-height: 70vh;
      overflow-y: auto;

      .editLine {
        margin-bottom: var(--padding);

        > div {
          margin-right: var(--padding-half);
        }
      }
    }

    .editFooter {
      display: flex;
      width: 100%;
      margin-top: var(--padding);
      gap: var(--padding);

      > button {
        flex: 1;
      }
    }
  }

  .mobile {
    position: fixed;
    width: 100%;
    bottom: 0;

    .popup {
      width: fit-content;
      margin-left: auto;
      margin-bottom: var(--padding);
      margin-right: var(--padding);
    }

    .videoEmbed {
      background-color: var(--background-dark);
      padding: var(--padding);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }
}
