.container {
  padding: 3rem;
  background: #f5f5f5;
  border-radius: 1rem;
  color: black;
  width: auto;
  font-weight: bold;

  .tabContainer {
    display: flex;
    flex-direction: row;

    & > div {
      display: flex;
      flex-direction: column;
      width: 2vw;

      &.strings {
        border-right: 2px solid black;
      }

      .fret {
        padding: 0 0.5rem;
      }

      .chordEmpty {
        //padding: 0 0.5rem;
        color: transparent;
      }

      .empty {
        flex: 1 1;
        color: transparent;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          border-top: 2px solid black;
        }
      }

      &.end {
        border-left: 2px solid black;
      }
    }
  }
}
