.container {
  padding: 0 var(--padding-double);
  display: flex;
  justify-content: center;

  .songContainer {
    flex: 0.7;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
      margin-bottom: var(--margin-large);
    }

    h4 {
      margin-bottom: 0;
    }

    .chord {
      background: rgb(30, 30, 30);
      padding: 0 0.3rem;
      margin-right: var(--margin);
      border-radius: 8px 8px 0 0;
      cursor: default;
      transition: 0.3s ease;

      &:hover {
        background: var(--accent-dark);
      }

      &.highlight {
        background: var(--accent);
        padding-bottom: 0.4rem;
        margin-top: -0.4rem;
      }
    }

    .section {
      margin-top: var(--margin-large);

      &:last-child {
        margin-bottom: var(--margin-large);
      }

      .line {
        display: flex;
        align-items: flex-end;
        margin-top: var(--margin);

        .word {
          padding-right: var(--margin-half);
          display: inline-flex;
          flex-direction: column;

          .chords {
            display: flex;
            flex-direction: row;
          }

          .hidden {
            opacity: 0;
          }

          .word {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .sidebar {
    display: flex;

    .video {
      position: fixed;
      right: var(--margin-mid);
      bottom: var(--margin-mid);
      width: 35%;
      height: var(--margin-mid-negative);
    }

    .popup {
      position: fixed;
      left: 4vw;
      top: 40vh;
    }
  }
}
