.container {
  $margin: 0.5rem;
  $margin-mid: 2.5rem;
  $margin-large: 5rem;

  padding: 0 2rem;
  display: flex;
  justify-content: center;

  .songContainer {
    flex: 0.7;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
      margin-bottom: $margin-large;
    }

    h4 {
      margin-bottom: 0;
    }

    .chord {
      background: rgb(30, 30, 30);
      padding: 0 0.3rem;
      margin-right: $margin;
      border-radius: 8px 8px 0 0;
      cursor: default;
      transition: 0.3s ease;

      &:hover {
        background: #335e5d;
      }

      &.highlight {
        background: #197a79;
        padding-bottom: 0.4rem;
        margin-top: -0.4rem;
      }
    }

    .section {
      margin-top: $margin-large;

      &:last-child {
        margin-bottom: $margin-large;
      }

      .line {
        display: flex;
        align-items: flex-end;
        margin-top: $margin;

        .word {
          padding-right: $margin / 2;
          display: inline-flex;
          flex-direction: column;

          .chords {
            display: flex;
            flex-direction: row;
          }

          .hidden {
            opacity: 0;
          }

          .word {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .sidebar {
    display: flex;

    .video {
      position: fixed;
      right: $margin-mid;
      bottom: $margin-mid;
      width: 35%;
      height: calc(100% - $margin-mid);
    }

    .popup {
      position: fixed;
      left: 0;
      top: 0;
    }
  }
}
