.videoEmbedContainer {
  display: flex;
  flex-direction: column;

  .player {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }

  .scrubberContainer {
    width: 100%;
  }

  .controlsContainer {
    .settingsContainer {
      position: relative;

      .settings {
        position: absolute;
        display: flex;
        flex-direction: column;

        > div {
          display: flex;
        }
      }
    }
  }

  > div:not(:first-of-type) {
    display: flex;
    margin-bottom: var(--padding);

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: none;
      background-color: transparent;
      border: none;

      cursor: pointer;
    }
  }
}
